.aboutContainer {
  background-color: $transparentRose;
  width: 75%;
  padding: 25px 0;
  float: right;
  margin-bottom: 50px;
  h2 {
    text-align: left;
  }

  .wrapper {
    width: 600px;
    max-width: 100%;
    // justify-content: flex-end;
  }
}

.aboutMe {
  height: max-content;
  padding: 10px;
  border-left: 2px solid $black;

  p {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
}
