header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // ***********************
  // social links top header
  // ***********************
  .socialLinks {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

    ul {
      display: flex;
    }

    i {
      font-size: 2rem;
      padding: 0 10px;
    }

    i:hover:before,
    i:focus:before {
      background: linear-gradient(#e66465, #9198e5);
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      transform: scale(1.5);
      display: block;
    }

    p {
      padding-left: 10px;
    }

    a {
      padding: 5px;
      text-decoration: none;
    }

    .resume a:hover,
    .resume a:focus {
      background: linear-gradient(#e66465, #9198e5);
      color: $backgroundColour;
      border-radius: 5px;
    }
  }
  .hero {
    background-image: url(/Assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: fit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    font-family: $bodyFont;
    color: $black;
  }

  .infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 85px;
    width: 500px;
    height: 425px;
    margin-left: 50px;

    background-image: url(/Assets/borderBox.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 2s;
    animation-name: slideIn;
  }

  //   Animations
  @keyframes slideIn {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  .infoText {
    animation-duration: 2s;
    animation-name: textSlideIn;
  }

  @keyframes textSlideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }
}
