.projects {
  padding-top: 75px;
  margin-top: 30px;
}

.projectContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  .projectText {
    width: 400px;
    margin-left: 30px;
  }

  &:not(:first-of-type) {
    margin-top: 70px;
  }

  &:nth-child(odd) {
    flex-direction: row;

    video {
      box-shadow: 20px 20px $burgundy;
    }

    .projectText {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  &:nth-child(even) {
    video {
      box-shadow: -20px 20px $burgundy;
    }
  }
}

.techIcons {
  display: flex;
  font-size: 3rem;
  margin: 10px 0;

  i {
    padding: 10px;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;

  a {
    margin-top: 10px;
  }
}

.projectVideoContainer {
  position: relative;

  video {
    max-width: 500px;
    height: 500px;
    border: 2px solid $black;
  }

  // &:before,
  // &:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -20px;
  //   left: -20px;
  //   z-index: -1;
  //   height: 100%;
  //   width: 100%;
  // }

  // &:before {
  //   //   image border left right
  //   border-left: 2px solid $black;
  //   border-right: 2px solid $black;

  //   height: 103%;
  //   top: calc(-18px - 1.5%);
  // }

  // &:after {
  //   //   image border top bottom
  //   border-top: 2px solid $black;
  //   border-bottom: 2px solid $black;

  //   width: 103%;
  //   left: calc(-18px - 1.5%);
  // }
}

.liveLink {
  width: 150px;
}
